{% trans_default_domain 'FOSUserBundle' %}



<div class="section-block">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12" style="background-image: url(http://via.placeholder.com/450x540); height: 540px;">
                <div class="contact-info-box">
                    <div class="row" >

                    </div>
                </div>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="section-heading mt-15">
                    <h4>Inscrivez-vous</h4>
                    <div class="section-heading-line-left"></div>
                </div>
                {% if app.session.get('offre') %}
                    <div class=" alert alert-info" role="alert">
                        Veillez terminer votre inscription pour gerer vos annonces
                    </div>
                {% endif %}


                <div class="contact-form-box mt-30">
                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'contact-form'}}) }}

                    <!-- Form START -->
                    <div class="row">


                        <div class="col-md-12">
                            {% if form_errors(form.username) %}
                                {{ form_widget(form.username, {'attr': {'class': 'colorbor','placeholder':'pseudo'}}) }}
                                {{ form_errors(form.username) }}
                            {% else %}
                                {{ form_widget(form.username, {'attr': {'class': '','placeholder':'pseudo'}}) }}
                            {% endif %}
                        </div>
                        <div class="col-md-12">
                            {% if form_errors(form.email) %}
                                {{ form_widget(form.email, {'attr': {'class': 'colorbor','placeholder':'email'}}) }}
                                {{ form_errors(form.email) }}
                            {% else %}
                                {{ form_widget(form.email, {'attr': {'class': '','placeholder':'email'}}) }}
                            {% endif %}
                        </div>

                        <div class="col-md-12">
                            {{ form_widget(form.telephone, {'attr': {'class': '','placeholder':'téléphone'}}) }}

                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.plainPassword.first, {'attr': {'class': '','placeholder':'Mot de passe'}}) }}

                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(form.plainPassword.second, {'attr': {'class': '','placeholder':'Repetez le mot de passe'}}) }}

                        </div>

                    </div>



                    <div class="col-md-12 mb-30">
                        <div class="center-holder">
                            <button type="submit"  >{{ 'registration.submit'|trans }}</button>
                        </div>
                    </div>
                    {{ form_end(form) }}

                    <!-- Form END -->

                </div>
            </div>


        </div>
    </div>
</div>
