  <footer>
        <div class="footer-top-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-8">
                        <div class="footer-left">
                            <a href="index">
                                <img src="{{asset('img/logo-2.png')}}" alt="">
                            </a>
                            <p>Le meilleur de la presse camerounaise.</p>
                            <ul class="footer-contact">
                                <li>
                                    <i class="flaticon-location"></i>
                                    Yaoundé-omnisport
                                </li>
                                <li>
                                    <i class="flaticon-technology"></i>
                                    (+237 ) 222 20 96 99
                                </li>
                                <li>
                                    <i class="flaticon-web"></i>
                                    contact@mydigipress.com
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <div class="single-footer">
                            <h2 class="footer-title">Information</h2>
                            <ul class="footer-list">
                                <li><a href="{{path('digit_press_apropos')}}">A Propos de nous</a></li>
                                <li><a href="index.html#">Confidentialité</a></li>
                                <li><a href="index.html#">Vie privée</a></li>
                                <li><a href="index.html#">Terme & Conditions</a></li>
                                <li><a href="index.html#">Manifactures</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 hidden-sm">
                        <div class="single-footer">
                            <h2 class="footer-title">Mon compte</h2>
                            <ul class="footer-list">
                                <li><a href="{{path('digit_press_register')}}">Inscription</a></li>
                                <li><a href="{{path('digit_press_login')}}">Connexion</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 hidden-sm">
                        <div class="single-footer">
                            <h2 class="footer-title">Menu</h2>
                            <ul class="footer-list">
                                <li><a href="{{path('digit_press_homepage')}}">Accueil</a></li>
                                <li><a href="{{path('digit_press_parutions')}}">Dernières parutions</a></li>
                                <li><a href="{{path('digit_press_presse')}}">Presses</a></li>
                                <li><a href="#">Tarifs</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-8">
                        <div class="single-footer footer-newsletter">
                            <h2 class="footer-title">Newsletter</h2>
                            <p>Souscrire à la Newsletter avec votre email et restez à jour.</p>
                            <form action="index.html#" method="post">
                                <div>
                                    <input type="text" placeholder="email address">
                                </div>
                                <button class="btn btn-search btn-small" type="submit">SOUSCRIRE</button>
                                <i class="flaticon-networking"></i>
                            </form>
                            <ul class="social-icon">
                                <li>
                                    <a href="index.html#">
                                        <i class="flaticon-social"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html#">
                                        <i class="flaticon-social-1"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html#">
                                        <i class="flaticon-social-2"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html#">
                                        <i class="flaticon-video"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-bottom-left pull-left">
                            <p>Copyright &copy; 2017 <span><a href="http://nanotechsolutions.cm">Nanotech Solutions</a></span>. Tous Droits Reservés.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-bottom-right pull-right">
                            <img src="{{asset('img/paypal.png')}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>