<div class="col-md-3 col-sm-3 col-xs-12">
    <div class="shop-widget">
        <div class="shop-widget-top">
            <aside class="widget widget-categories">
                <h2 class="sidebar-title text-center">MENU</h2>
                <ul class="sidebar-menu">

                    <li class="active">
                        <a href="{{path('digit_press_notifications')}}">
                            <i class="fa fa-angle-double-right"></i>
                            NOTIFICATIONS <span class="badge">154</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{path('digit_press_mes_abonnements')}}">
                            <i class="fa fa-angle-double-right"></i>
                            MES ABONNEMENTS <span class="badge">37</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{path('digit_press_mes_parutions')}}">
                            <i class="fa fa-angle-double-right"></i>
                            MES DERNIERES PARUTIONS <span class="badge">7</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{path('digit_press_alertes')}}">
                            <i class="fa fa-angle-double-right"></i>
                            MES ALERTES <span class="badge">1</span>
                        </a>
                    </li>



                </ul>
            </aside> 

        </div>
        <div class="shop-widget-bottom">

            <aside class="widget widget-seller">
                <h2 class="sidebar-title">TOP ABONNEMENTS</h2>
                <div class="single-seller">
                    <div class="seller-img">
                        <img src="{{('img/shop/1.jpg')}}" alt="" />
                    </div>
                    <div class="seller-details">
                        <a href="shop.html"><h5>CAMEROUN TRIBUNE</h5></a>
                        <h5>12 000 <i class="fa fa-user icolor"></i></h5>
                        <ul>
                            <li><i class="fa fa-star icolor"></i></li>
                            <li><i class="fa fa-star icolor"></i></li>
                            <li><i class="fa fa-star icolor"></i></li>
                            <li><i class="fa fa-star icolor"></i></li>
                            <li><i class="fa fa-star icolor"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="single-seller">
                    <div class="seller-img">
                        <img src="{{('img/shop/2.jpg')}}" alt="" />
                    </div>
                    <div class="seller-details">
                        <a href="shop.html"><h5>CAMEROUN TRIBUNE</h5></a>
                        <h5>7 000 <i class="fa fa-user icolor"></i></h5>
                        <ul>
                            <li><i class="fa fa-star icolor"></i></li>
                            <li><i class="fa fa-star icolor"></i></li>
                            <li><i class="fa fa-star icolor"></i></li>
                            <li><i class="fa fa-star icolor"></i></li>
                            <li><i class="fa fa-star icolor"></i></li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>

