{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block title %}{{ 'title_dashboard'|trans({}, 'SonataAdminBundle') }}{% endblock%}
{% block breadcrumb %}{% endblock %}
{% block content %}
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row"> 
             <div class="box-header with-border">
             
              <h1 class="" >Easylink</h1>
            </div>
         <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3> {{  render(controller('NanotechEasylinkAdminBundle:Dashboard:index'))}}</h3>

              <p>Abonnements</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="" class="small-box-footer">Plus d'informations<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
          
               <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3> {{  render(controller('NanotechEasylinkAdminBundle:Dashboard:index1'))}}</h3>

              <p>Affectations</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="" class="small-box-footer">Plus d'informations<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
            
               <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3> {{  render(controller('NanotechEasylinkAdminBundle:Dashboard:index2'))}}</h3>

              <p>Avis</p>
            </div>
            <div class="icon">
              <i class="ion-ios-lightbulb-outline"></i>
            </div>
            <a href="" class="small-box-footer">Plus d'informations<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
     
              
              <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3> {{  render(controller('NanotechEasylinkAdminBundle:Dashboard:index3'))}}</h3>

              <p>Message</p>
            </div>
            <div class="icon">
              <i class="ion ion-chatbox"></i>
            </div>
            <a href="" class="small-box-footer">Plus d'informations<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
              
              <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-orange">
            <div class="inner">
              <h3> {{  render(controller('NanotechEasylinkAdminBundle:Dashboard:index4'))}}</h3>

              <p>Newletter</p>
            </div>
            <div class="icon">
              <i class="ion ion-information-circled"></i>
            </div>
            <a href="" class="small-box-footer">Plus d'informations<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
               <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-purple">
            <div class="inner">
              <h3> {{  render(controller('NanotechEasylinkAdminBundle:Dashboard:index5'))}}</h3>

              <p>Offre</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="" class="small-box-footer">Plus d'informations<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
              
                <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-white">
            <div class="inner">
              <h3> {{  render(controller('NanotechEasylinkAdminBundle:Dashboard:index6'))}}</h3>

              <p>Specialite</p>
            </div>
            <div class="icon">
              <i class=" ion-shuffle"></i>
            </div>
            <a href="" class="small-box-footer">Plus d'informations<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
              
               <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3> {{  render(controller('NanotechEasylinkAdminBundle:Dashboard:index7'))}}</h3>

              <p>Sous Spécialité</p>
            </div>
            <div class="icon">
              <i class="ion-toggle-filled"></i>
            </div>
            <a href="" class="small-box-footer">Plus d'informations<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
               </div>
</section>

{% endblock %}
